.card {
    text-decoration: none;
    margin-top: 20px;
    left: 28%;
    right:28%;
    
    max-width: 190px;
    min-width: 190px;
    min-height: 350px;
    max-height: 350px;
    flex-direction: column;
    border: 1px solid #FFE159;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3rem;
    position: relative;
    flex: 1;
    background-color: #e1c13198;
  }
  
  .card:hover {
    box-shadow: 10px 5px 5px #E1C231;
  }